{% extends 'base.html.twig' %}

{% block body %}

    <h1>Mon super site</h1>

    <p id="intro">
        Site crée avec Symfony.<br />
        <strong>Le tout est trouvable sur mon Github : @Hashiix</strong><br />
    </p>

    {% form_theme chatForm 'bootstrap_4_layout.html.twig' %}

    {{ form_start(chatForm) }}

    {{ form_row(chatForm.name, {'attr': {'placeholder': "Votre pseudo"}, 'label': "Pseudo"}) }}
    {{ form_row(chatForm.message, {'attr': {'placeholder': "Votre message", 'rows': 5, 'cols': 60}}) }}

    <div id="submit">
        <button type="submit" class="btn btn-success">Envoyer</button>
    </div>
    {{ form_end(chatForm) }}

    <div id="minichat">
        {% for message in messages %}
            {{ message.date|date('d-m-Y H:i') }} - <strong>{{ message.name }} :</strong> {{ message.message|escape('html') }}<br/>
        {% endfor %}
    </div>

    <form>
            <input type="submit" class="btn btn-success" value="Rafraichir">
    </form>

{% endblock %}