{% extends 'base.html.twig' %}

{% block body %}

    <h1>Mon super site</h1>

    <p id="intro">
        Site crée avec Symfony.<br />
        <strong>Le tout est trouvable sur mon Github : @Hashiix</strong><br />
    </p>

    <div>
        {% form_theme myForm 'bootstrap_4_layout.html.twig' %}

        {{ form_start(myForm) }}

        {{ form_row(myForm.name, {'attr': {'placeholder': "Votre pseudo"}, 'label': "Pseudo"}) }}
        {{ form_row(myForm.message, {'attr': {'placeholder': "Votre message", 'rows': 5, 'cols': 60}}) }}

        <button type="submit" class="btn btn-success">Envoyer</button>

        {{ form_end(myForm) }}
    </div>

    <div id="minichat">
        {% for message in messages %}
            {{ message.date|date('d-m-Y H:i') }} - <strong>{{ message.name }} :</strong> {{ message.message|escape('html') }}<br/>
        {% endfor %}
    </div>

    <form>
            <input type="submit" class="btn btn-success" value="Rafraichir">
    </form>

{% endblock %}