{% extends 'base.html.twig' %}

{% block body %}

    {% form_theme signInForm 'bootstrap_4_layout.html.twig' %}

    {{ form_start(signInForm) }}

    {{ form_row(signInForm.name, {'attr': {'placeholder': "Votre pseudo"}, 'label': "Pseudo"}) }}
    {{ form_row(signInForm.password, {'attr': {'placeholder': "Votre mot de passe"}, 'label': "Mot de passe"}) }}
    {{ form_row(signInForm.passwordVerify, {'attr': {'placeholder': "Confirmez votre mot de passe"}, 'label': "Confirmation du mot de passe"}) }}
    {{ form_row(signInForm.mail, {'attr': {'placeholder': "Votre adresse mail"}, 'label': "Adresse mail"}) }}

    <div id="submit">
        <button type="submit" class="btn btn-success">S'inscrire</button>
    </div>

    {{ form_end(signInForm) }}

    <p id="intro">Vous avez déjà un compte ? <a href={{ path('app_login_login') }}>Connectez-vous</a></p>

{% endblock %}
