<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-sclae=1, shrink-to-fit=no">
        <title>{% block title %}Tiago Vieira Braz | Développeur Web{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="../../css/style.css">
            <link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
            <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
            <link rel="icon" type="image/png" sizes="32x32" href="../../img/favicon-32x32.png">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% endblock %}
    </head>
        <header>
            <nav id="menu">
                <ul>
                    <li><a id="tabs" href="{{ path('app_index_index') }}">Accueil</a></li>
                </ul>

                {% if not app.user %}
                {% else %}
                <div id="disconnectdecoration">
                    Bonjour, {{ app.user }} (<a href="{{ path('app_login_logout') }}">Déconnexion</a>)
                </div>
                {% endif %}

                <ul>
                    <li><a id="tabs" href="{{ path('app_minichat_index') }}">Minichat</a></li>
                    <li><a id="tabs" href="{{ path('app_blog_index') }}">Blog</a></li>
                    <li><a id="tabs" href="{{ path('app_login_login') }}">Mon compte</a></li>
                </ul>
            </nav>
        </header>

        <body>
            <div id="body">
                {% block body %}
                {% endblock %}
            </div>
        </body>

    {% block javascripts %}{% endblock %}
</html>